@{
	ViewData["Title"] = "About us";
}

<div class="container">
	<div class="row g-5">
		<div class="col-sm-12 col-lg-6">
			<img class="img-fluid mx-auto" src="~/aboutus.png" />
		</div>
		<div class="col-sm-12 col-lg-6">
			<div>
				<h4 style="color: #5B5A5A">About us</h4>
				<p>Tabo is derived from them word “Tabo-an”. In which it is the gathering of our local Famers/Vendors to sell or to showcase their farm produced goods and fresh caught marine resources.</p>
			</div>
			<div>
				<h4 style="color: #137B2B">Our Vision</h4>
				<p>To promote and serve good quality products to our customers, and to build a platform where people can come to find and discover any agricultural products Borongan can offer online.</p>
			</div>
			<div>
				<h4 style="color: #137B2B">Our Mission</h4>
				<p>Provide a high quality and very affordable price for our customers and to make purchasing easier.</p>
			</div>
		</div>
		
	</div>
</div>