@model Category

@{
	ViewData["Title"] = "Add Category";
}


<div class="container">
	<div class="row">
		<div class="card p-3 w-50 mx-auto">
			<h3 class="card-title" style="color: #28A745">Add a new Category!</h3>
			<hr />
			<form asp-controller="Adminpanel" asp-action="AddCategory" method="post" class="text-muted">
				<label asp-for="Name" class="form-label m-1">Category Name</label>
				<input asp-for="Name" class="form-control m-1" type="text"/>
				<button type="submit" class="btn text-light m-1" style="background: #28A745">Add</button>
			</form>
		</div>
		
	</div>
</div>