@model IEnumerable<Category>

@{
    ViewData["Title"] = "Categories";
}

<div class="container d-flex justify-content-between" style="margin-bottom: 20px">
    <div class="mx-2">
        @Html.Partial("_SideBar")
    </div>
    <div>
        <img class="img-fluid mx-auto" src="/index-cat-banner.png" />
    </div>
</div>

