@{
	ViewData["Title"] = "Contact";
}

<div class="container">
	<div class="row g-3">
		<div class="col-sm-12 col-lg-6 d-flex flex-column">
			<h4>Get in touch</h4>
			<div class="m-2">
				
				<div> <span><i class="bi bi-geo-alt-fill"></i></span>Address</div>
				<div>Borongan City, Easter Samar</div>
			</div>
			<div class="m-2">
				<div><span><i class="bi bi-phone"></i></span>Mobile Number</div>
				<a href="tel:09776231985" class="text-decoration-none text-black">0977 623 1985</a>
			</div>
			<div class="m-2">
				<div><span><i class="bi bi-envelope-fill"></i></span>Gmail</div>
				<a href="mailto:kataboborongan@gmail.com" class="text-decoration-none" style="color: #28A745">kataboborongan@gmail.com</a>
			</div>
			<div class="m-2">
				<div><span><i class="bi bi-globe"></i></span>Website</div>
				<a href="www.katabo.com" class="text-decoration-none" style="color: #28A745">www.katabo.com</a>
			</div>


		</div>
		<div class="col-sm-12 col-lg-6">
			
			<img class="img-fluid mx-auto" src="~/map.png" />


		</div>
	</div>
</div>

<div class="my-5">
	<form>
		<h4>For more query</h4>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<input class="form-control mb-2" type="text" placeholder="Name" />
				</div>
				<div class="col-sm-12 col-md-6">
					<input class="form-control mb-2" type="email" placeholder="Email" />
				</div>
			</div>
			<div class="row">
				<div class="col">
					<textarea class="form-control mb-2" style="color: grey">Your Message</textarea>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<button class="btn text-light float-end" style="background:#28A745">Send Message</button>
				</div>
			</div>
		</div>
	</form>

</div>