@{
	ViewData["Title"] = "Opps";
}

<div class="justify-content-center align-items-center m-auto">
	<h1 style="color: #28A745">Opsssss!</h1>
	<p class="text-muted">What your trying to do is illegal</p>
</div>
